* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Montserrat", sans-serif;
}

body {
    line-height: 1.5;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0;
}

hr {
    opacity: 0.60;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

p {
    margin: 15px 0px;
    font-size: 15px;

}

.para1 {
    /* color: #757575; */
    margin: 15px 0px;
    font-size: 15px;
    /* font-family: "Segoe UI",Arial,sans-serif; */
}

.text_opacity {
    color: #757575;
    font-size: 30px;
}

.text_opacity_heading {
    color: #757575;
    font-size: 30px;
}

.text_opacity_para {
    color: #757575;
    text-align: justify;
    font-size: 15px;
}

/* .media_image{
    max-width: 100%;
} */

.bg_img {
    background-image: url(./profile_girl.jpg);
    width: 40%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    z-index: 1;
    overflow: auto;
}

.section_one {
    margin-left: 40%;
    padding: 12px 24px;
}

.logo_button {
    top: 0;
    background-color: white;
    position: fixed;
    width: auto;
    right: 0;
    border: none;
    padding: 17px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    font-size: 36px;
    color: #757575;
}

.logo_button:hover {
    color: #000;
    background-color: #ccc;
}

.h1_text {
    padding: 128px 16px;
    text-align: center;
}

.h1_work {
    font-size: 64px;
}

.download_button {
    color: #000;
    background-color: #f1f1f1;
    padding: 12px 24px;
    margin-top: 16px;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.download_button:hover {
    background-color: #ccc;
}

.section_two {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}


.main_pics {
    display: flex;
    padding: 0px 8px;
    margin: 0 -16px;
}

.pics {
    width: 49.99%;
    padding: 0px 8px;
}

img {
    margin-bottom: 12px;
}

.about_section {
    padding-top: 32px;
    padding-bottom: 64px;
}

.skills_padding {
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #757575;
}

.skills_spacing {
    letter-spacing: 4px;
    margin: 15px 0px;
    font-size: 15px;
    color: #757575;

}

.color_line {
    color: #000;
    background-color: #f1f1f1;
}

.line {
    color: #fff;
    background-color: #616161;
    padding: 4px 8px;
    text-align: center;
    font-size: 15px;
}

.number_box {
    margin-top: 14px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 17px;
    display: flex;
    color: #fff;
    background-color: #616161;
}

.box {
    width: 24.99%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
}

.number {
    font-size: 24px;
}

.person {
    display: flex;
    margin-bottom: 5px;
}
.person1{
    display: flex;
}

.person2{
    display: flex;
}


.worker_color1 {
    color: #616161;
    /* padding-top: 10px; */
}

.worker_color {
    color: #616161;
}

.worker {
    width: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 16px;
    /* margin-bottom: 10px; */
}

.worker1 {
    height: 90px;
    width: 80px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 16px;

}

.detail {
    margin-right: 16px;
    font-size: 18px;
    color: #000;
}

.download_button2 {
    color: #000;
    background-color: #f1f1f1;
    padding: 12px 24px 11px 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.download_button2:hover {
    background-color: #ccc;
}

.Reputation_edit {
    color: #757575;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.my_price{
    color: #757575;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.para6 {
    margin-top: 5px;
}

.chart_margin{
    margin-bottom: -16px;
}

.charts {
    display: flex;
    margin: 0 -16px;
    padding: 0 8px;
    /* width: 100%; */
}

.basic_chart {
    padding: 0 8px;
    /* margin-bottom: 16px;
    width: 100%; */
    /* cursor: pointer; */
}

.chart_one:hover {
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart_one {
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #757575;
}

.basic {
    border-bottom: 1px solid #ddd;
    color: #fff;
    background-color: #616161;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 24px;
}

.basic_work {
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.size {
    font-size: 30px;
}

.chart_amount {
    opacity: 0.60;
}

.sign_up {
    border-bottom: none;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #000;
    background-color: #f1f1f1;
}

.sign_up_button {
    font-size: 15px;
    border-style: none;
    color: black;
    background-color: white;
    padding: 12px 24px;
    cursor: pointer;
}

.sign_up_button:hover{
    color: white;
    background-color: black;
}

.pro_chart {
    padding: 0 8px;
    /* cursor: pointer; */
}

.chart_two:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.chart_two {
    text-align: center;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pro {
    padding-top: 32px;
    padding-bottom: 32px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
}

.pro_work {
    font-size: 15px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.size1 {
    font-size: 30px;
}

.chart_amount1 {
    opacity: 0.60;
}


.sign_up1 {
    border-bottom: none;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #000;
    background-color: #f1f1f1;
}

.sign_up_button1 {
    font-size: 15px;
    border-style: none;
    color: black;
    background-color: white;
    padding: 12px 24px;
    cursor: pointer;
}

.sign_up_button1:hover{
    color: white;
    background-color: black;
}

.contact_me_section {
    margin-bottom: 64px;
    color: #757575;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.contact_me {
    font-size: 30px;
}

.contact_para {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 15px;
}

.icon5 i {
    color: #757575;
    font-size: 36px;
    width: 1.28571429em;
    text-align: center;
    margin-right: 16px;
}

.map_img {
    width: 100%;
    margin: 32px 0;
    filter: grayscale(75%);
    max-width: 100%;
    height: auto;
}

.form {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    border: 1px solid #ccc !important;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}

.form_button {
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding: 12px 24px;
}

.last_section {
    margin: -24px;
    color: #000;
    background-color: #f1f1f1;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center;
    opacity: 0.60;
    padding: 0.01em 16px;
    font-size: 24px;
}

.w3-medium{
    color: black;
}

.w3_color:hover{
    color: rgb(101, 149, 30);
}
.media1{
    display: none;
}


@media screen and (max-width: 600px) {
    .media1{
        display: block;
    }
    .media {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .box {
        width: 100%;
    }

    .bg_img {
        display: none;
    }

    .section_one {
        margin-left: 0;
    }

    .pics {
        width: 100%;
    }

    .main_pics {
        display: block;
    }

    .number_box {
        display: block;
    }

    .basic_chart {
        width: 100% !important;
        margin-bottom: 16px;
    }

    .pro_chart {
        width: 100% !important;
        margin-bottom: 16px;
    }

    .charts {
        display: block;
    }
}


@media screen and (max-width: 980px) {
    .media1 {
        width: 60%;
        height: auto;
        margin-bottom: 0;
        margin-left: 107px;
        display: block;
        border-radius: 4px;
    }
    .bg_img{
        display: none;
    }

    .section_one {
            margin-left: 0;
    }
}


@media screen and (min-width: 600px) {
    /* .media1 {
        display: block;
    } */
    .media {
        display: none;
    }
}